* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.top {
    padding-bottom: 96px;
}

.header {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
}

.text__logo {
    padding-left: 14px;
    padding-top: 5px;
}

.text__logo-grow {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.text__logo-be {
    color:#F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header__link {
    color: #000000;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: inline-block;
    padding-left: 18px;
}

.header__link-home {
    color: #F25822;
}

.header__link:hover {
    color: blue;
}

.top__content {
    margin-top: 84px;
    margin-bottom: 162px;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    margin-bottom: 37px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__buttons-btn {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none; 
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20); 
    margin-right: 72px;
    padding: 16px 36px;  
}

.top__buttons-btn:hover {
    color: #F25822;
    background: #FFF;
}


.top__buttons-link {
    color: #aaa;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.top__buttons-link:hover {
    color: green;
}

.top__photo {
    margin-right: 64px;
    margin-left: 40px;
}

.top__logo {
    display: flex;
    justify-content: space-between;
}